[submodule "catkin_ws/src/simple_arm"]
	path = catkin_ws/src/simple_arm
	url = https://github.com/udacity/RoboND-simple_arm
[submodule "catkin_ws2/src/turtlebot_simulator"]
	path = catkin_ws2/src/turtlebot_simulator
	url = https://github.com/turtlebot/turtlebot_simulator
